<div class="list">
  <div class="list-left">
    <ul>
      <ng-container *ngIf="items$ | async as items">
        <li *ngFor="let item of items" (click)="viewItem(item.id)">
          {{item.name}}
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="list-right">
    <router-outlet></router-outlet>
  </div>
</div>
